:root {
    --search-bar-height: 32px;
    --border-radius: 20px;
    --app-background-color: linear-gradient(90deg, rgba(26,26,26,1) 35%, rgba(31,31,31,1) 35%);
    --button-background-color: rgba(85,59,210,1);
    --app-text-color: #eee;
}

.app-container {
    width: 80%;
    height: 80%;
    border-radius: var(--border-radius, 20px);
    background: var(--app-background-color, #333);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.search-container {
    width: 80%;
    height: 20%;
}

.search-container > div {
    margin: auto;
}

.content-container {
    display: grid;
    grid-template-columns: 35fr 65fr;
    grid-template-rows: 100%;

    width: 100%;
    height: 80%;
}

.video-container {
    display: flex;
}

/* 

.main {
    position: absolute;
    width: calc(100% - var(--page-padding) * 2);
    top: 30%;
    background: #eee;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5vw;
    transition: all 0.5s ease-in-out;
}

.main > * {
    border: 1px solid black;
}

@media (max-width: 650px) {
    .main {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
} */