@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
  /* overflow: auto; */
}

#root {
  background-image: url('./2080886.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
