@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
